<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">Show  Student </h1>
				<div class = "card-body">
					<form th:action="@{/students/show/{id} (id=${student.id})}" th:object = "${student}" method="GET">
			<table class = "table table-striped table-bordered">		
			<thead class = "table-dark">
				<tr>
				<th> Student Id</th>
				<th> Student First Name</th>
				<th> Student Last Name</th>
				<th> Student Email </th>
					
				</tr>
				
				</thead>
						<tbody>
				<tr th:each = "student: ${student}">
					<td th:text = "${student.id}"></td>
					<td th:text = "${student.firstName}"></td>
					<td th:text = "${student.lastName}"></td>
					<td th:text = "${student.email}"></td>
					<td>
								 
						<a th:href = "@{/students(students=${students})}"
						 class = "btn btn-primary">home</a>
		
	</div>
</body>
</html>